// Button Styles
.btn-disabled {
  border: none;
  padding: 10px;
  text-decoration: none;
  color: black !important;
  opacity: 0.5;
  background-color: dimgray;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  pointer-events: none;
}

.tweet-btn {
  border: none;
  padding: 10px;
  background-color: #00acee;
  text-decoration: none !important;
  color: white !important;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
}
